<div style="display:inline-blocked;padding:5px;">
	<button id="companyAddNew">Add</button>
	<button id="companyResfresh">Refresh</button>
</div>

<div class="datagrid">
	<table class="company">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>DateTime Created</th>
				<th>Business Field</th>
				<th>Status</th>
				<th>Added By</th>
				<th>Option</th>
			</tr>
		</thead>
	</table>
</div>

<script type="text/javascript">
	$('#companyAddNew').button({
		icons: {
			primary: "ui-icon-plusthick",
		}
	});
	$('#companyAddNew').button().click(function(){
		dialogCompanyAdd();
	});

	$('#companyResfresh').button({
		icons: {
			primary: "ui-icon-refresh",
		}
	});
	$('#companyResfresh').button().click(function(){
		ats.load(function(){
			loadCompany();
		})
	});

	function loadCompany() {
		$('.company tbody').remove();
		$('.company').append('<tbody></tbody>');
		$.each(ats.ListCompany, function(index, company){
			var businessField = ats.getObject(ats.ListBusinessField, company.BusinessField);
			var status = ats.getObject(ats.ListStatus,company.Status);
			var user = ats.getObject(ats.ListUser,company.AddedBy);

			$('.company tbody').append(
				"<tr><td>" + 
				company.Id + "</td><td>" + 
				company.Name + "</td><td>" + 
				company.Description + "</td><td>" + 
				company.DateTimeCreated + "</td><td>" + 
				businessField.Name + "</td><td>" +
				status.Name + "</td><td>" +
				user.Name + "</td><td>" +
				"<span style='display: inline-block'>" +
				"<button id='"+ company.Id + "' class='buttonCompanyUpdate'><span class='ui-icon ui-icon-pencil'></span></button>" +
				"<button id='"+ company.Id + "' class='buttonCompanyDelete'><span class='ui-icon ui-icon-trash'></span></button>" +
				"<button id='"+ company.Id + "' class='buttonCompanySettings'><span class='ui-icon ui-icon-gear'></span></button>" +
				"</span>" +
				"</td></tr>"
				);
		});


$('.buttonCompanyUpdate').click(function () {
	var id = this.id;
	$.each(ats.ListCompany,function( index, company ){
		if (company.Id == id) {
			dialogCompanyUpdate(company);
		}
	});
});
}

loadCompany();
</script>

